.userSwiper {
  overflow: visible;
  position: unset;
  .swiper-wrapper {
    align-items: center;
    .slide-item {
      width: 100% !important;
    }
  }
  .swiper-button-disabled {
    display: block;
  }
  .swiper-button-prev {
    left: 140px;
    bottom: 35px;
    top: unset;
    &:after {
      font-size: 14px;
      font-weight: 900;
      color: #b3bbc3;
    }
  }
  .swiper-button-next {
    right: 140px;
    bottom: 35px;
    top: unset;

    &:after {
      font-size: 14px;
      font-weight: 900;
      color: #b3bbc3;
    }

    @media(max-width: 410px) {
      right: 0;
    }
  }
  .swiper-pagination{
    .swiper-pagination-bullet{
      width: 8px;
      height: 8px;
      margin: 0 4px;
      background-color: #d8d8d8;
      //opacity: 0.1;
      opacity: 1 !important;
      &.swiper-pagination-bullet-active{
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        background-color: #81d8ff;
      }
    }
  }
}

.swiper-slide {
  height: fit-content;
}

.light {

  .swiper-pagination{
    .swiper-pagination-bullet{
      background-color: #D8D8D8;
      &.swiper-pagination-bullet-active{
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
        background-color: #81D8FF;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {

    &:after {
      font-size: 14px;
      font-weight: 900;
      color: #B3BBC3;
    }

  }

}
//
//.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom,.swiper-pagination-fraction {
//  bottom: 85px;
//}
//

.swiper-pagination {
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 94px;

}

.swiper-container {
  height: 316px;
  max-height: 316px;
  border: 1px solid transparent;
}
