.userSwiper {
  .swiper-wrapper {
    align-items: center;

    .slide-item {
      width: 100% !important;
    }
  }

  .swiper-button-disabled {
    display: none;
  }

  .swiper-button-prev {
    left: 10px;

    &:after {
      font-size: 18px;
      font-weight: 900;
      color: #b3bbc3;
    }

    @media(max-width: 410px) {
      left: 0;
    }

  }

  .swiper-button-next {
    right: 10px;

    &:after {
      font-size: 18px;
      font-weight: 900;
      color: #b3bbc3;
    }

    @media(max-width: 410px) {
      right: 0;
    }
  }
}

.swiper-slide {
  height: fit-content;
}
