@import "fonts/fonts";
*{
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 10000px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    cursor: pointer;
    border-radius: 10000px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10000px;
    transition: all 150ms ease;
    cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    transition: all 150ms ease;
    background: #555;
  }
}
body{
  margin: 0;
  padding: 0;
  background: #1a1a1a;
}
.navbar{
  width: 100%;
  padding: 16px 30px 16px 16px;
  @media (max-width: 500px) {
    padding: 9px;
  }
}
.explore-galleries-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .homepage{
    height: calc(100% - 85px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.ReactModal__Overlay{
  z-index: 100 !important;
  background-color: transparent !important;
}
