@import "fonts/fonts";
*{
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #1a1a1a;
}
.navbar{
  width: 100%;
  padding: 16px 30px 16px 16px;
  @media (max-width: 500px) {
    padding: 9px;
  }
}
.explore-galleries-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .homepage{
    height: calc(100% - 85px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.ReactModal__Overlay{
  z-index: 100 !important;
  background-color: transparent !important;
}
