@import "fonts/fonts";
*{
  box-sizing: border-box;
  font-family: "Azo Sans", sans-serif;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 10000px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    cursor: pointer;
    border-radius: 10000px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10000px;
    transition: all 150ms ease;
    cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    transition: all 150ms ease;
    background: #555;
  }
}
body{
  margin: 0;
  padding: 0;
  background: #1a1a1a;
}
.navbar{
  width: 100%;
  padding: 16px 18px 23px 16px;
  //border-bottom: 1px solid black;
  //clip-path: polygon(0 0, 100% 0, 100% 75px, 60% 75px, 50% 91px, 40% 75px, 0 75px);
  //background-color: grey;
  position: relative;
  @media (max-width: 500px) {
    //padding: 9px;
    min-height: 70px;
  }
}
.explore-galleries-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .homepage{
    height: calc(100% - 85px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.ReactModal__Overlay{
  z-index: 100 !important;
  background-color: transparent !important;
}

.greeting-Alexander {
  color: #eaeaea;
  font-size: 18px;
  font-weight: 500;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.max-w-324 {
  max-width: 324px;
}
.max-w-564 {
  max-width: 564px;
}
.flex-content {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  //margin-bottom: 8px;
  border-bottom: 8px solid #191919;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px 13px;
  margin-bottom: 16px;
  .grid-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    background-color: #404040;
    &:nth-child(4) {
      grid-area: 2 / 1 / 2 /4;
    }
  }
  @media (max-width: 375px) {
    padding-right: 8px;
    padding-left: 8px;
  }

}
.feed {
  color: #eaeaea;
  text-align: center;
  font-style: italic;
  padding: 12px 0 16px;
}